
.icon-ok:before { content: '\e800'; } /* '' */
.icon-spin1:before { content: '\e801'; } /* '' */
.icon-spin2:before { content: '\e802'; } /* '' */
.icon-spin3:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e804'; } /* '' */
.icon-spin6:before { content: '\e805'; } /* '' */
.icon-firefox:before { content: '\e806'; } /* '' */
.icon-chrome:before { content: '\e807'; } /* '' */
.icon-opera:before { content: '\e808'; } /* '' */
.icon-ie:before { content: '\e809'; } /* '' */
.icon-spin4:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-ok-circled2:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-cancel-circled2:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-plus-circled:before { content: '\e811'; } /* '' */
.icon-minus:before { content: '\e812'; } /* '' */
.icon-minus-circled:before { content: '\e813'; } /* '' */
.icon-help-circled:before { content: '\e814'; } /* '' */
.icon-info-circled:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-attention:before { content: '\e817'; } /* '' */
.icon-attention-circled:before { content: '\e818'; } /* '' */
.icon-location:before { content: '\e819'; } /* '' */
.icon-trash-empty:before { content: '\e81a'; } /* '' */
.icon-doc:before { content: '\e81b'; } /* '' */
.icon-down-circled2:before { content: '\e81c'; } /* '' */
.icon-up-circled2:before { content: '\e81d'; } /* '' */
.icon-down-dir:before { content: '\e81e'; } /* '' */
.icon-up-dir:before { content: '\e81f'; } /* '' */
.icon-left-dir:before { content: '\e820'; } /* '' */
.icon-right-dir:before { content: '\e821'; } /* '' */
.icon-down-open:before { content: '\e822'; } /* '' */
.icon-left-open:before { content: '\e823'; } /* '' */
.icon-right-open:before { content: '\e824'; } /* '' */
.icon-up-open:before { content: '\e825'; } /* '' */
.icon-down-big:before { content: '\e826'; } /* '' */
.icon-left-big:before { content: '\e827'; } /* '' */
.icon-right-big:before { content: '\e828'; } /* '' */
.icon-up-big:before { content: '\e829'; } /* '' */
.icon-right-hand:before { content: '\e82a'; } /* '' */
.icon-left-hand:before { content: '\e82b'; } /* '' */
.icon-up-hand:before { content: '\e82c'; } /* '' */
.icon-down-hand:before { content: '\e82d'; } /* '' */
.icon-cw:before { content: '\e82e'; } /* '' */
.icon-ccw:before { content: '\e82f'; } /* '' */
.icon-arrows-cw:before { content: '\e830'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */